<?xml version="1.0" encoding="UTF-8"?>
<configuration status="off">
	<appenders>
		<!-- 控制台日志输出 -->
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %m%n"/>
		</Console>
	</appenders>
	<loggers>
		<logger name="com.minyaziutils" level="debug" additivity="false">
			<appender-ref ref="Console"/>
		</logger>
		<root level="error">
			<appender-ref ref="Console"/>
		</root>
	</loggers>
</configuration>
